/* ==================== HOME ===================== */

.main-image-container {
  width: 100%;
  height: 95vh;
  background-image: url("../images/home/Lies-From-Granny.jpg");
  background-size: cover;
}

.fit-content {
  height: fit-content;
}

/* ==================== 3-PACK COMPONENT ===================== */
.card {
  background-color: transparent;
  border: 0px;
  margin: 3rem 0;
  transition: .5s;
  &:hover {
    cursor: pointer;
    transition: .5s;
  }
  &:hover .card-image-overlay {
    opacity: 0;
  }

  a {
    text-decoration: none;
    color: #212529;
  }
}

.card-image-container {
  position: relative;
  width: 100%;
}

.card-image-overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    height: 100%;
    border-radius: 50%;
}

.three-pack {
  background-color: #e2e2e2;
}



/* ==================== VIDEO COMPONENT ===================== */
.video-header {
  text-align: center;
  font-size: 55px;
}

.home-video-container {
  width: 800px;
  margin: auto;
}

.video {
  margin: auto;
  width: 100%;
  height: 450px;

}



@media screen and (max-width: 575px) {

  .main-image-container {
    height: 58vh;
    background-image: url("../images/home/Lies-From-Granny-Mobile.jpg");
  }

  /* ==================== 3-PACK COMPONENT ===================== */
  .card-img {
    width: 75%;
  }

  .card {
    margin: 0;
    &:first-of-type {
      margin-top: 35px;
    }
  }

  /* ==================== VIDEO COMPONENT ===================== */
  .video-header {
    text-align: center;
    font-size: 35px;
  }

  .home-video-container {
    width: 350px;
    height: fit-content;
    // margin: 0;
  }

  .video {
    height: 200px;
    // margin-left: 5px;
    // margin-right: 5px;
  }

}
