/* ==================== HOME ===================== */

.card {
  background-color: transparent;
  border: 0px;
  margin: 3rem 0;

  &:hover {
    cursor: pointer;
    transition: 0.5s;
  }
  a {
    text-decoration: none;
    color: #212529;
  }
}

.home-video-container {
  width: 800px;
  margin: auto;
}

.video {
  margin: auto;
  width: 100%;
  height: 450px;

}

.three-pack {
  background-color: #e2e2e2;
}


