
















@media screen and (min-width: 100px) {
  .brand-header {
     font-size: 1.3em;
     margin-bottom: 0px;
  }

  .navbar-nav {
     flex-direction: row;
     justify-content: center;
  }

  .logoImg {
     height: 40px;
  }
}

@media screen and (max-width: 575px) {
  .nav-item {
     font-size: 1em;
     padding: 0.25rem 0.5rem;
  }

  h2 {
     font-size: 1.5rem;
  }

  .gig-image {
     margin-bottom: 10px;
  }

  .gig-text {
     font-size: 1.2em;
     border-bottom: 1px solid #000000;
     padding-bottom: 20px;
  }

  .gig-title {
     font-size: 2em;
     text-align: center;
  }

  .gig-deets {
     font-size: 1.5em;
     text-align: center;
  }

  .main-image {
     margin-top: 15px;
  }

  .song-list-img {
     margin-bottom: 15px;
  }

  .upcoming-shows {
     margin-top: 1rem !important;
  }

  #showsMainImg {
     display: none;
  }
}

@media screen and (min-width: 576px) {
  .brand-header {
     font-size: 1.25em;
  }

  .logoImg {
     height: 70px;
  }
}

@media screen and (min-width: 767px) {
  .brand-header {
     font-size: 2.25em;
  }

  .logoImg {
     height: 80px;
  }
}

@media screen and (min-width: 992px) {
  .nav-item {
     margin-left: 0px;
     margin: 5px;
  }

  .btn {
     width: 45%;
     display: inline-block;
  }

  .navbar-nav {
     flex-direction: row;
  }
}
