/* ==================== SHOWS ===================== */

.gig-title {
  font-size: 1.5em;
  margin-bottom: 7px;
}

.gig-deets {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-style: italic;
}

.gig-text {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 12px;
}

.shows-container {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: flex-start;
  align-content: flex-start;
}

.show-card {
  width: 540px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding-right: 10px;
  ul {
    padding-inline-start: 28px;
  }
}

