/* ==================== SHOWS ===================== */

.gig-title {
  font-size: 1.5em;
  margin-bottom: 7px;
}

.gig-deets {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-style: italic;
}

.gig-text {
  font-size: 1em;
  line-height: 1.2;
}