/* ==================== SONGS LIST ==================== */

.songs-container {
  columns: 3;
  column-gap: 20px;
  .band-card {
    width: 100%;
    margin: 0;
    padding: 10px 25px;
    overflow: hidden;
    break-inside: avoid;
    h2 {
      font-size: 1.75rem;

    }
    li {
      font-size: 1.1rem;
    }
    ul {
      margin-bottom: .75rem;
    }
  }
}

@media screen and (max-width: 575px) {

  .songs-container {
    columns: 1;
  }

}




