body, html {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   background-color: #f5f4f2;
   font-family: 'Roboto', sans-serif;
   
}

/* ***************** Header Styling ***************** */

.logoImg {
   height: 80px;
}

.main-image {
   width: 100%;
}

.brand-header {
   display: inline-flex;
   font-size: 2.75em;
}

.nav-item {
   font-size: 1.25em;
   border: 1px solid #000000;
   margin-left: 5px;
   color: #000000;
}

   .nav-item:hover {
      background-color: #ED2079;
      border: 1px solid #ED2079;
   }

.nav-link {
   color: #000000;
}

   .nav-link:hover {
      color: #f5f4f2;
   }

.right-nav {
   margin-top: auto;
   margin-bottom: auto;
}

.custom-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, .5)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }
 
 .custom-toggler.navbar-toggler {
   border-color: rgb(0,0,0);
 } 

 /* ******************** BODY STYLING ******************** */

 .card {
    background-color: transparent;
    border: 0px;
     }

     .card:hover{
        cursor: pointer;
        transition: 0.5s;
     }


 /* ==================== SHOWS ===================== */
.gig-title {
   font-size: 1.5em;
   margin-bottom: 7px;
}

.gig-deets {
   font-size: 1.25em;
   margin-bottom: 10px;
   font-style: italic;
}

.gig-text {
   font-size: 1em;
   line-height: 1.2;

}


 /* ==================== FADES ===================== */

/* .transition-fade {
   opacity: 1;
   transition: 1500ms;
}

html.is-animating .transition-fade {
   opacity: 0;
} */



 @media screen and (min-width: 100px) {
    .brand-header {
       font-size: 1.3em;
       margin-bottom: 0px;

    }

    .navbar-nav {
       flex-direction: row;
       justify-content: center;
    }

    .logoImg {
      height: 40px;
   }
 
 }

 @media screen and (max-width: 575px) {
    .nav-item {
       font-size: 1em;
       padding: .25rem .5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .gig-image {
       margin-bottom: 10px;
    }
    
    .gig-text {
       font-size: 1.2em;
       border-bottom: 1px solid #000000;
       padding-bottom: 20px;
    }

    .gig-title {
       font-size: 2em;
       text-align: center;
    }

    .gig-deets {
       font-size: 1.5em;
       text-align: center;
    }


 }

@media screen and (min-width: 576px) {
   .brand-header {
      font-size: 1.25em;
   }

   .logoImg {
      height: 70px;
   }

}

@media screen and (min-width: 767px) {
   .brand-header {
      font-size: 2.25em;
   }

   .logoImg {
      height: 80px;
   }

}

@media screen and (min-width: 992px) {

   .nav-item {
      margin-left: 0px;
      margin: 5px;
   }

   .btn {
     width: 45%;
     display: inline-block;
   }

   .navbar-nav {
      flex-direction: row;
   }


}