body, html {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   background-color: #f5f4f2;
   font-family: 'Roboto', sans-serif;

   
}

/* ***************** Header Styling ***************** */
.logo-area {
}

.logoImg {
   height: 80px;
}

.main-image {
   width: 100%;
}

.brand-header {
   display: inline-flex;
   font-size: 2.75em;
}

.btn-nav {
   padding: 10px 16px;
   color: #ED2079;
   text-align: center;
   font-size: 1.5em;
   margin-right: 10px;
   border: 1px solid #ED2079;
}

   .btn-nav:hover {
      color: #f5f4f2;
      background-color: #ED2079;

   }

.right-nav {
   margin-top: auto;
   margin-bottom: auto;


}
