body, html {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   background-color: #f5f4f2;
   font-family: 'Roboto', sans-serif;

   
}

/* ***************** Header Styling ***************** */
.logoImg {
   height: 80px;
}

.main-image {
   width: 100%;
}

.btn-nav {
   padding: 10px 16px;
   background-color: #1c1c1c;
   color: #ED2079;
   text-align: center;
   font-size: 1.5em;
   margin-right: 10px;
   border: 1px solid #ED2079;
}

   .btn-nav:hover {
      border: 1px solid #FF8A25;;
      color: #FF8A25;

   }

.right-nav {
   margin-top: auto;
   margin-bottom: auto;


}
